<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/weight_complete/{userid}(userid=${userid})}" th:object="${goalsForm}">
    <input type="hidden" th:field="*{goaltitle}" />
    <input type="hidden" th:field="*{year}" />
    <input type="hidden" th:field="*{goaldetail}" />
    <table>
        <tr>
            <th>no</th>
            <th>目標番号</th>
            <th>期初ウエイト</th>
            <th>期中ウエイト</th>
            <th>期末ウエイト</th>
        </tr>
        <tr th:each="goal, st : *{goalseqs}">
            <td th:text="${st.index}">index</td>
            <td>
                <input type="hidden" th:name="|goalseqs[${st.index}].id|" th:value="${goal.id}" />
                <input type="number" th:name="|goalseqs[${st.index}].goalid|" th:value="${goal.goalid}" />
            </td>
            <td>
                <input type="number" th:name="|goalseqs[${st.index}].meisaiList[0].goalWeight|" th:value="${goal.meisaiList[0].goalWeight}" />
            </td>
            <td>
                <input type="number" th:name="|goalseqs[${st.index}].meisaiList[1].goalWeight|" th:value="${goal.meisaiList[1].goalWeight}" />
            </td>
            <td>
                <input type="number" th:name="|goalseqs[${st.index}].meisaiList[2].goalWeight|" th:value="${goal.meisaiList[2].goalWeight}" />
            </td>
        </tr>
    </table>
    <button type=submit>送信</button>
</form>
</body>
</html>
