<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>app</title>
</head>
<body>
  <div id="app">
  </div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const lingData = /*[( ${json} )]*/ [];
    /*]]>*/
    const dtSetting = {
        destroy: true,
        data: lingData,
        language: {
            url: "https://cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
        },
        columns: [
            {data:"id"},
            { data: "japanese"},
            { data: "english"},
            { data: "pos"}
        ]
    };
    console.log(lingData);
    lingData.forEach((value, index) => {
        let p = document.createElement("p")
        p.appendChild(document.createTextNode(value.japanese));
        document.getElementById("app").appendChild(p);
    });
</script>
</body>
</html>